body::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar-thumb{
    background-color: #e6a247;
}


#About {
    margin: 2rem 0 0;
  }
  #About img {
    width: 50%;
  }
  #About h3 {
    font-size: 21px;
    font-family: Bold;
  }
  #About p {
    font-family: Regular;
    font-size: 13px;
  }
  
  #Contact .box {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e6a147b8;
    padding: 20px 0;
    border-radius: 5px;
  }
  #Contact .box a, #Contact .box span {
    display: block;
    margin-top: 10px;
    color: #3f3f3f; 
    font-family: Regular;
  }
  #Contact .box svg {
    font-size: 50px;
    color: #e6a247;
  }