.category-list{
    padding: 15px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.category-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-list li img{
    filter: invert(1);
    width: 25px;
}
.category-list li a {
    font-family: Regular;
    color: #5d5d5d;
    margin-left: 5px;
    font-size: 14px;
}