.admin-layout .left{
    width: 20%;
}

.admin-layout .right {
    width: 80%;
    background-color: #181924;
}
.appSidebar{ 
    padding: 20px 10px;
    height: 100vh;
    background-color: #2A2B36;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.086) 0px 5px 10px;
}

.appsidebar-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    width: 80%;
}

.accordion{
    margin-bottom: 20px;
}


.accordion a{
    display: block;
    color: #333;
    font-weight: Regular;
    margin-bottom: 10px;
}


form label,input, select{
    font-family: Regular;
}

label{
    color: #fff;
}

.admin-pr-top input{
    border: 1px solid #c0bebe;
    font-family: 'Regular';
    padding: 4px 2px;
    width: 30%;
    border-radius: 7px;
    font-size: 14px;
}



.main-page-link {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px 0 10px 10px;
    font-family: 'Regular';
    font-size: 16px;
    font-weight: bold;
}

.main-page-link svg{
    margin-right: 15px;
}

table tr, table {
    text-align: center;
    font-size: 13px;
}

.admin-main {
    background-color: #F5F8FE;
}

.active {
    background-color: #2A86D4;
    color: #fff;
}

.appsidebar-content button{
    text-align: left;
}

.statistics-items {
    margin-top: 3rem;
}

.statistics-items .st-item{
    border-radius: 5px;
    padding: 20px;
    height: 130px;
    color: #fff;
    box-shadow: rgba(115, 82, 199, 0.176) 0px 0.5rem 1.25rem;
}


.st-item h3{
    font-family: Bold;
    font-size: 30px;
}

.st-item p{
    font-family: Regular;
    font-size: 18px;
    margin-top: 6px;
}

.branch-select {
    margin: 15px 0;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 4px;
}