.header-top {
    background-color: #ededed;
}
.header-top a{
    font-family: Regular;
    font-size: 14px;
    color: #5d5d5d;
    margin-right: 10px;
}

.header-top .lang button{
    font-size: 14px;
    font-family: Regular;
    background-color: transparent;
    border: none;
    color: #5d5d5d;
}

.lang a{
    font-size: 14px;
    font-family: Regular;
}

.hb-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom{
    padding: 15px 0;
}

.logo a {
    font-size: 40px;
    font-family: Bold;
    color: #e6a247;
}

.hb-all .logo{
    width: 20%;
}

.hb-all .search {
    width: 40%;
}

.hb-all .search form{
    display: flex;
    border-radius: 4px;
    align-items: center;
    border: 1px solid #f76d11bd;
    justify-content: space-between;
    padding: 7px 15px;
}

.search form input, button {
    border: none;
    background-color: transparent;
    font-family: Regular;
}

.search form svg{
    font-size: 20px;
}

.search form input {
    width: 90%;
}

.basket-login ul{
    display: flex; 
    align-items: center;
}

.basket-login ul a{
    font-size: 14px;
    font-family: Regular;
    color: #5d5d5d;
    margin-left: 5px;
}

.basket-login ul li{
    margin-left: 28px;
    display: flex; 
    align-items: center;
}